.git
.gitignore
.github
Dockerfile
docker-compose.yaml
.dockerignore
.next
node_modules
pnpm-debug.log
npm-debug.log
yarn-error.log
coverage
.env
.env.*
.env.example
.vscode
.idea
.DS_Store
*.log
tsconfig.tsbuildinfo
.source